<template>
  <main class="country-page">
    <div class="country-page__container">
      <div class="country-menu">
        <country-menu></country-menu>
        <photo-gallery v-if="country && country.acf && country.acf.photo" :slug="country.acf.photo.post_name"></photo-gallery>
        <mailing></mailing>
      </div>
      <div class="country-page__content" v-if="country && continent">
        <div class="country-page__content-tour">
        <h1 class="country-page__content-tour-title">{{pageTitle}}</h1>
        <navigation
          :links="[
            {to: '/', title: 'Главная'},
            {to: {name: 'MainCountries'}, title: 'Страны'},
            {to: `/${continent.post_type}/${continent.post_name}`, title: continent.post_title},
            {to: country.link, title: country.title.rendered}
          ]">
        </navigation>
        <div>
          <span class="country-page__content-tour-description" v-html="text"></span>
        </div>
        <div class="country-page__tour-container">
          <h3 class="country-page__tour-text">Туры</h3>
            <tour v-for="tour in tours" :key="tour.id" :tour="tour"></tour>
          </div>
        </div>
        <div class="country-page__content-hotels">
          <h3 class="country-page__content-hotels-title">Гостиницы</h3>
          <span class="country-page__content-hotels-description">Мы сами побывали в каждом из этих замечательных отелей <br> и смело можем их рекомендовать гостям!</span>
          <div class="country-page__content-hotels-items">
            <hotel v-for="hotel in hotels" :key="hotel.id" :hotel="hotel"></hotel>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import CountryMenu from '../components/CountryMenu'
import PhotoGallery from '../components/PhotoGallery'
import Navigation from '../components/Navigation'
import Tour from '../components/Tour'
import Hotel from '../components/Hotel'
import Mailing from '../components/Mailing'
import {mapGetters} from 'vuex'

export default {
  name: 'CountryPage',
  computed: {
    countrySlug () {
      return this.$route.params.country_slug
    },
    country () {
      return this.countrySlug ? this.getCountryBySlug()(this.countrySlug) : undefined
    },
    continent () {
      return this.country ? this.country.acf.continent : undefined
    },
    id () {
      return this.country ? this.country.id : undefined
    },
    tours () {
      return this.id ? this.getToursByCountryId()(this.id) : []
    },
    hotels () {
      return this.id ? this.getHotelsByCountryId()(this.id) : []
    },
    text () {
      return this.country ? this.country.content.rendered : ''
    },
    pageTitle () {
      return this.country ? this.country.title.rendered : ''
    }
  },
  methods: {
    ...mapGetters('countriesModule', ['getCountries', 'getContinentBySlug', 'getCountryBySlug']),
    ...mapGetters('toursModule', ['getToursByCountryId']),
    ...mapGetters('hotelsModule', ['getHotelsByCountryId'])
  },
  components: {
    CountryMenu,
    PhotoGallery,
    Tour,
    Navigation,
    Hotel,
    Mailing
  },
  watch: {
    pageTitle (value) {
      document.title = `Anteco | ${value}`
    },
    country (value) {
      if (value) {
        this.$store.dispatch('setHeader', value)
      }
    }
  },
  mounted () {
    document.title = `Anteco | ${this.pageTitle}`
    if (this.country) {
      this.$store.dispatch('setHeader', this.country)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.country-page
  +page
  &__content
    font-family: Roboto, sans-serif
    +content-width()
    &-tour
      &-title
        font-family: Georgia
        font-style: italic
        font-size: 40px
        font-weight: 300
        color: #464646
        padding-bottom: $padding-after-title
      &-description
        color: #464646
        font-family: Roboto, sans-serif
        font-weight: 300
        font-size: 14px
        line-height: 1.5
    &-hotels
      display: flex
      flex-wrap: wrap
      padding-top: 40px
      &-title
        font-family: Georgia
        font-style: italic
        font-size: 30px
        color: #464646
        font-weight: 300
      &-description
        font-family: Roboto, sans-serif
        font-weight: 300
        font-size: 14px
        line-height: 1.5
        color: #464646
        padding: 15px 0
        width: 100%
      &-items
        width: 630px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
  &__tour-text
    font-family: Georgia
    font-style: italic
    font-size: 30px
    font-weight: 300
    color: #464646
    padding-bottom: 20px
  &__tour-container
    padding-top: 40px
</style>
