<template>
  <main class="event">
    <div class="event__container">
      <div class="event__widget">
        <h2 class="event__title">События</h2>
        <news-widget v-for="n in events" :key="n.id" :news-item="n"></news-widget>
        <mailing></mailing>
      </div>
      <article v-if="offer" class="event__content">
        <span class="event__content-date">{{date | moment("DD.MM.YY")}}</span>
        <h2 class="event__content-title">{{title}}</h2>
        <navigation :links="links"></navigation>
        <div class="event__content-description" v-html="text"></div>
      </article>
    </div>
  </main>
</template>

<script>
import Mailing from '../components/Mailing'
import NewsWidget from '../components/NewsWidget'
import Navigation from '../components/Navigation'
import {mapGetters, mapState} from 'vuex'
export default {
  name: 'EventPage',
  computed: {
    ...mapGetters('postsModule', {events: 'getLastThreeEvents', news: 'getNews'}),
    ...mapState('postsModule', ['posts']),
    id () {
      return +this.$route.params.id
    },
    offer () {
      return this.posts.find(({id}) => this.id === id)
    },
    date () {
      return this.offer.date
    },
    title () {
      return this.offer ? this.offer.title.rendered : undefined
    },
    text () {
      return this.offer.content.rendered
    },
    link () {
      return this.offer.link
    },
    links () {
      return [
        {to: '/', title: 'Главная'},
        {to: {name: 'EventsPage'}, title: 'События'},
        {to: {name: 'EventPage', params: {id: this.id}}, title: this.title}
      ]
    }
  },
  components: {
    Mailing,
    NewsWidget,
    Navigation
  },
  watch: {
    title (value) {
      document.title = `Anteco | ${value}`
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.event
  +page
  padding-bottom: 70px
  &__title
    color: #333333
    font-family: Georgia
    font-style: italic
    padding-bottom: $padding-after-title
  &__content
    +content-width()
    &-date
      font-size: 14px
      font-weight: 300
      color: #555555
    &-title
      font-family: Georgia
      font-style: italic
      font-weight: 500
      font-size: 40px
      color: #555555
      padding-bottom: $padding-after-title
    &-description
      color: #555555
      font-weight: 300
      font-family: Roboto, sans-serif
      font-size: 14px
      display: block
      line-height: 1.5
      padding-top: $padding-before-container
    &-description /deep/ *
      width: 100%
      height: auto
</style>
