<template>
  <main class="events-page">
    <div class="events-page__container">
      <div class="country-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div>
        <h1 class="events-page__content-title">События</h1>
        <navigation :links="[{to: '/', title: 'Главная'}, {to: '/sobytiya', title: 'События'}]"></navigation>
        <region-news v-for="e in events" :key="e.id" section="sobytiya" :news-item="e"></region-news>
      </div>
    </div>
  </main>
</template>

<script>
import Mailing from '../components/Mailing'
import CountryMenu from '../components/CountryMenu'
import RegionNews from '../components/RegionNews'
import Navigation from '../components/Navigation'
import { mapGetters } from 'vuex'

export default {
  name: 'SpecialOffersPage',
  computed: {
    ...mapGetters('postsModule', {events: 'getEvents'})
  },
  mounted () {
    document.title = 'Anteco | События'
  },
  components: {
    CountryMenu,
    RegionNews,
    Navigation,
    Mailing
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.events-page
  +page
  &__content-title
    font-family: Georgia
    font-style: italic
    font-size: 40px
    font-weight: 300
    color: #464646
    padding-bottom: $padding-after-title
</style>
