<template>
  <main class="main-countries">
    <div class="main-countries__container">
      <h2 class="main-countries__title">Страны</h2>
      <navigation class="main-countries__navigation" :links="[{to: {name: 'MainPage'}, title: 'Главная'}, {to: {name: 'MainCountries'}, title: 'Страны'}]"></navigation>
      <div class="main-countries__search">
        <span class="main-countries__search-title">Воспользуйтесь нашим поиском</span>
        <form @submit.prevent="searchModel" class="main-countries__search-container">
          <input v-model="searchModel" class="main-countries__search-container-form"/>
          <button class="main-countries__search-container-button">
            <img src="../assets/images/loup-white.png"/>
          </button>
        </form>
      </div>
      <div v-if="!searchModel" class="main-countries__items">
        <continent-card
          v-for="continent in continents"
          :key="continent.id"
          :continent="continent">
        </continent-card>
        <div class="main-countries__contacts-container">
          <h3 class="main-countries__contacts-title">Хотите поехать в тур <br> или задать нам вопрос?</h3>
          <tour-contacts class="main-countries__tour"></tour-contacts>
        </div>
      </div>
      <div class="main-countries__items" v-else-if="searchResults.length">
        <continent-card
          v-for="searchResult in searchResults"
          :key="searchResult.id"
          :continent="searchResult">
        </continent-card>
        <div class="main-countries__contacts-container">
          <h3 class="main-countries__contacts-title">Хотите поехать в тур <br> или задать нам вопрос?</h3>
          <tour-contacts class="main-countries__tour"></tour-contacts>
        </div>
      </div>
      <div v-else class="main-countries__items">
        <div class="main-countries__contacts-container">
          <h3 class="main-countries__contacts-title">Хотите поехать в тур <br> или задать нам вопрос?</h3>
          <tour-contacts class="main-countries__tour"></tour-contacts>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import TourContacts from '../components/TourContacts'
import Navigation from '../components/Navigation'
import ContinentCard from '../components/ContinentCard'

import {mapActions, mapGetters, mapState} from 'vuex'

export default {
  name: 'MainCountries',
  components: {
    TourContacts,
    Navigation,
    ContinentCard
  },
  mounted () {
    document.title = 'Anteco | Страны'
  },
  computed: {
    ...mapState(['query', 'searchResults']),
    ...mapState('countriesModule', ['continents']),
    searchModel: {
      get () {
        return this.query
      },
      set (value) {
        this.requestForSearch(value)
      }
    }
  },
  methods: {
    ...mapGetters('countriesModule', ['getCountries', 'getContinentBySlug']),
    ...mapActions('countriesModule', ['requestContinents', 'requestCountries']),
    ...mapActions(['requestForSearch'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.main-countries
  width: 100vw
  display: flex
  margin: auto
  padding-top: 25px
  padding-bottom: 70px
  @media all and (min-width: $page-content-width)
    width: $page-content-width
  &__container
  &__title
    color: #464646
    font-family: Georgia
    font-style: italic
    padding: 10px
    font-size: 40px
    font-weight: 300
    @media all and (min-width: $page-content-width)
      padding: 0 0 $padding-after-title 0
  &__search
    &-title
      font-family: Roboto, sans-serif
      font-size: 14px
      color: #555555
      font-weight: 300
      display: block
      margin-top: 5px
      padding: 10px
      @media all and (min-width: $page-content-width)
        padding: 0
    &-container
      display: flex
      height: 42px
      margin-top: 15px
      width: 100%
      padding: 0 10px
      @media all and (min-width: $page-content-width)
        width: $page-content-width
        padding: 0
      &-form
        width: 100%
        outline: none
        border: none
        background-color: #ececec
        padding: 15px
        @media all and (min-width: $page-content-width)
          width: $page-content-width
      &-button
        background-color: #e1005f
        width: 80px
        height: 42px
        border: none
  &__items
    width: 100vw
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media all and (min-width: $page-content-width)
      padding: 20px 0 0 0
      width: $page-content-width
  &__tour
    width: 100%
    @media all and (min-width: $page-content-width)
      max-width: 620px
  &__contacts-container
    padding: 10px
    @media all and (min-width: $page-content-width)
      padding: 5px 0 0 0
  &__contacts-title
    color: #464646
    font-family: Georgia
    font-style: italic
    font-weight: 300
    font-size: 30px
    padding-bottom: 15px
  &__navigation
    padding: 0 0 0 10px
    @media all and (min-width: $page-content-width)
      padding: 0 0 20px 0
</style>
