<template>
  <main class="main-page">
    <div class="main-page__container main-page__container--top">
      <div class="main-page__section main-page__special-offers">
        <h2 class="main-page__section-title main-page__section-title--red">Спецпредложения</h2>
        <router-link
          v-for="offer in offers"
          :to="`/specpredlozheniya/${offer.id}`"
          :key="offer.id">
          <special-offer
            :offer="offer"
            class="main-page__special-offers-offer"
          ></special-offer>
        </router-link>
        <router-link :to="{name: 'SpecialOffersPage'}" class="main-page__section-link">Все спецпредложения</router-link>
      </div>
      <div class="main-page__section main-page__special-news">
        <h2 class="main-page__section-title">Новости</h2>
        <news v-for="newsItem in news"
              :key="newsItem.id"
              :news-item="newsItem"
        >
        </news>
        <router-link :to="{name: 'NewsPage'}" class="main-page__section-link">Все новости</router-link>
      </div>
      <div class="main-page__section main-page__special-events">
        <h2 class="main-page__section-title">События</h2>
        <router-link
          v-for="e in events"
          :key="e.id"
          :to="`/sobytiya/${e.id}`"
        >
          <events :event="e" class="main-page__events-event"></events>
        </router-link>
        <router-link :to="{name: 'EventsPage'}" class="main-page__section-link">Все события</router-link>
      </div>
    </div>
    <div class="main-page__container main-page__container--bottom">
      <mailing></mailing>
      <div class="main-page__tell-about">
        <span class="main-page__tell-about-text">Мы будем сообщать только о самых важных новостях и предложениях из мира туризма и отдыха.</span>
      </div>
    </div>
  </main>
</template>

<script>
import SpecialOffer from '../components/SpecialOffer'
import News from '../components/News'
import Events from '../components/Events'
import Mailing from '../components/Mailing'
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  name: 'NewsPage',
  computed: {
    ...mapGetters('postsModule', {
      news: 'getLastFiveNews',
      offers: 'getLastThreeSpecialOffers',
      events: 'getLastThreeEvents'
    }),
    ...mapState('countriesModule', ['countries'])
  },
  components: {
    SpecialOffer,
    Events,
    News,
    Mailing
  },
  mounted () {
    document.title = `Anteco | Главная`
    this.setBanner(this.countries)
  },
  watch: {
    countries (value) {
      if (value) {
        this.setHeader(value, true)
      }
    }
  },
  methods: {
    ...mapActions(['setHeader']),
    setBanner (value) {
      if (value) {
        this.setHeader(value, true)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
  @import '../variables'
  .main-page
    +page
    &__container
      &--top
        border-bottom: 1px solid #cdcdcd
        padding: 0
      &--bottom
        justify-content: flex-start
        align-items: center
    &__section
      &-title
        color: #333333
        font-family: Georgia
        font-style: italic
        font-weight: 300
        padding: 10px
        font-size: 22px
        @media all and (min-width: $page-content-width)
          padding: 0 0 15px 0
          font-size: 20px
        &--red
          color: #e1005f
      &__special-offers
        &-offer
          margin-bottom: 20px
      &__events
        &-event
          margin-bottom: 20px
      &-link
        font-family: Roboto, sans-serif
        font-size: 14px
        font-weight: 600
        color: #e1005f
        text-decoration: underline
        padding: 10px
        @media all and (min-width: $page-content-width)
          padding: 0
    &__tell-about
      +sidebar-width()
      margin: 0
      @media all and (min-width: $page-content-width)
        margin-left: 60px
      &-text
        color: #555555
        font-weight: 300
        font-family: Roboto, sans-serif
        font-size: 14px
        display: block
        padding: 10px 0
        @media all and (min-width: $page-content-width)
          padding: 0
    &__special-news
      padding: 0
      @media all and (min-width: $page-content-width)
        padding-left: 30px

</style>
