<template>
  <main class="news-page">
    <div class="news-page__container">
      <div class="country-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div>
        <h1 class="news-page__content-title">Новости</h1>
        <navigation :links="[{to: '/', title: 'Главная'}, {to: {name: 'NewsPage'}, title: 'Новости'}]"></navigation>
        <region-news v-for="newsItem in news" :key="newsItem.id" section="novosti" :news-item="newsItem"></region-news>
      </div>
    </div>
  </main>
</template>

<script>
import Mailing from '../components/Mailing'
import CountryMenu from '../components/CountryMenu'
import RegionNews from '../components/RegionNews'
import Navigation from '../components/Navigation'
import { mapGetters } from 'vuex'

export default {
  name: 'NewsPage',
  computed: {
    ...mapGetters('postsModule', {news: 'getNews'}),
    ...mapGetters('categoriesModule', ['getCategoryBySlug']),
    category () {
      return this.getCategoryBySlug('novosti')
    }
  },
  mounted () {
    document.title = `Anteco | Новости`
    if (this.category) {
      this.$store.dispatch('setHeader', this.category)
    }
  },
  watch: {
    category (value) {
      if (value) {
        this.$store.dispatch('setHeader', value)
      }
    }
  },
  components: {
    CountryMenu,
    RegionNews,
    Navigation,
    Mailing
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.news-page
  +page
  &__content-title
    font-family: Georgia
    font-style: italic
    font-size: 40px
    font-weight: 300
    color: #464646
    padding-bottom: $padding-after-title / 4
</style>
