<template>
  <main class="news-article">
    <div class="news-article__container">
      <div class="news-article__widget">
        <h2 class="news-article__title">Новости</h2>
        <news-widget v-for="n in lastNews" :key="n.id" :news-item="n"></news-widget>
        <mailing></mailing>
      </div>
      <article v-if="photo" class="news-article__content">
        <span class="news-article__content-date">{{date | moment("DD.MM.YY")}}</span>
        <h2 class="news-article__content-title">{{title}}</h2>
        <navigation :links="links"></navigation>
        <div class="news-article__content-description" v-html="text"></div>
      </article>
    </div>
  </main>
</template>

<script>
import Mailing from '../components/Mailing'
import NewsWidget from '../components/NewsWidget'
import Navigation from '../components/Navigation'
import {mapGetters, mapState} from 'vuex'
export default {
  name: 'Photos',
  computed: {
    ...mapGetters('postsModule', {lastNews: 'getLastFiveNews'}),
    ...mapState('photoGalleryModule', ['media']),
    slug () {
      return this.$route.params.slug
    },
    photo () {
      return this.media.find(({slug}) => slug === this.slug)
    },
    date () {
      return this.photo ? this.photo.date : ''
    },
    title () {
      return this.photo ? this.photo.title.rendered : ''
    },
    text () {
      return this.photo ? this.photo.content.rendered : ''
    },
    links () {
      return [
        {to: {name: 'MainPage'}, title: 'Главная'},
        {to: {name: 'Photos'}, title: this.title}
      ]
    }
  },
  mounted () {
    if (this.photo) {
      this.$store.dispatch('setHeader', this.photo)
    }
  },
  watch: {
    title (value) {
      document.title = `Anteco | ${value}`
    },
    photo (value) {
      if (value) {
        this.$store.dispatch('setHeader', value)
      }
    }
  },
  components: {
    Mailing,
    NewsWidget,
    Navigation
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.news-article
  +page
  &__title
    color: #333333
    font-family: Georgia
    font-style: italic
    font-weight: 400
    font-size: 20px
  &__content
    +content-width()
    padding-bottom: 170px
    &-date
      font-size: 14px
      font-weight: 300
      color: #555555
    &-title
      font-family: Georgia
      font-style: italic
      font-size: 30px
      font-weight: 300
      color: #555555
      padding-bottom: $padding-after-title
      @media all and (min-width: $page-content-width)
        font-size: 40px
    &-description
      color: #555555
      font-weight: 300
      font-family: Roboto, sans-serif
      font-size: 14px
      display: block
      line-height: 1.5
    &-description /deep/ *
      width: 100%
      height: auto
    &-description /deep/ p
        padding-top: $padding-before-container / 2
</style>
