<template>
  <main class="tour-page">
    <div class="tour-page__container">
      <div class="tour-page__country-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div class="tour-page__content" v-if="article">
        <h3 class="tour-page__content-title" v-html="title"></h3>
        <navigation :links="[
          {to: '/',title: 'Главная'},
          {to: `/${this.id}`,title: this.title}]">
        </navigation>
        <article v-if="text" v-html="text"></article>
        <div v-else>
          <p>К сожалению, здесь нет текста</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>

import Mailing from '../components/Mailing'
import CountryMenu from '../components/CountryMenu'
import Navigation from '../components/Navigation'
export default {
  name: 'TourPage',
  data () {
    return {article: undefined}
  },
  mounted () {
    this.loadData()
    if (this.article) {
      document.title = `Anteco | ${this.title}`
      this.$store.dispatch('setHeader', this.article)
    }
  },
  computed: {
    id () {
      return this.$route.params.id
    },
    date () {
      return this.article.date
    },
    title () {
      return this.article ? this.article.title.rendered : ''
    },
    text () {
      return this.article.content.rendered
    },
    link () {
      return this.article.link
    },
    links () {
      return [
        {to: '/', title: 'Главная'},
        {to: `/${this.id}`, title: this.title}
      ]
    }
  },
  methods: {
    loadData () {
      this.$store.dispatch('requestItemBySlug', {name: 'pages', slug: this.id})
        .then((data) => {
          this.article = data
        })
    }
  },
  watch: {
    id () {
      this.loadData()
    },
    article (value) {
      if (value) {
        this.$store.dispatch('setHeader', value)
      }
    },
    title (value) {
      document.title = `Anteco | ${value}`
    }
  },
  components: {
    CountryMenu,
    Mailing,
    Navigation
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.tour-page
  +page
  &__slider
    &-image
      +sidebar-width()
      height: 150px
  &__country-menu
    +sidebar-width()
  &__content
    width: 100%
    @media all and (min-width: $page-content-width)
      width: 640px
    &-title, &-subtitle
      color: #464646
      font-family: Georgia
      font-style: italic
      font-weight: 300
    &-title
      font-size: 40px
      padding-bottom: $padding-after-title
      small
        font-size: 30px
    & /deep/ article
      width: 100%
      h3, p, b, i
        font-family: Roboto, sans-serif
        font-size: 14px
        display: block
      h3
        color: #027ead
        font-weight: 500
      p
        color: #555555
        font-weight: 300
      b
        color: #555555
        font-weight: 600
      i
        color: #555555
        font-style: Italic
        font-weight: 500
    &-show-all
      span
        font-family: Roboto, sans-serif
        font-size: 14px
        font-weight: 500
        color: #e1005f
        border-bottom: 1px dashed #e1005f
  &__contacts-title
    color: #555555
    font-family: Georgia
    font-style: italic
    font-weight: 300
    font-size: 30px
    padding-bottom: 25px
  &__photo-gallery
    padding-top: 50px
    &-container
      position: relative
      display: flex
      height: 140px
      padding: 0 55px
      .swiper-container
        width: 100%
        height: 100%
    &-title
      font-family: Georgia
      font-style: italic
      font-size: 30px
      color: #464646
      font-weight: 300
    &-subtitle
      font-weight: 300
      font-size: 14px
      color: #464646
      font-family: Roboto, sans-serif
</style>
