<template>
  <main class="regions-page">
    <div class="regions-page__container regions-page__align-center">
     <div class="regions-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div class="regions-page__content" v-if="continent">
        <h1 class="regions-page__content-title">{{continent.title.rendered}}</h1>
        <navigation :links="[{to: '/', title: 'Главная'}, {to: {name: 'MainCountries'}, title: 'Страны'}, {to: continent.link, title: continent.title.rendered}]"></navigation>
        <div v-if="countries.length" class="regions-page__list">
          <li class="regions-page__list-name"
            v-for="country in countries"
            :key="country.id">
            <router-link :to="country.link">
              {{country.title.rendered}}
            </router-link>
          </li>
        </div>
        <div v-else class="regions-page__list">
          <p>Пока что нет</p>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import CountryMenu from '../components/CountryMenu'
import Navigation from '../components/Navigation'
import Mailing from '../components/Mailing'
import {mapGetters} from 'vuex'
export default {
  name: 'CountryPage',
  computed: {
    regionSlug () {
      return this.$route.params.continent_slug
    },
    continent () {
      return this.regionSlug ? this.getContinentBySlug()(this.regionSlug) : {}
    },
    id () {
      return this.continent ? this.continent.id : undefined
    },
    countries () {
      return this.id ? this.getCountries()(this.id) : []
    },
    title () {
      return this.continent.title.rendered
    }
  },
  mounted () {
    document.title = `Anteco | ${this.title}`
  },
  watch: {
    title (value) {
      document.title = `Anteco | ${value}`
    }
  },
  methods: {
    ...mapGetters('countriesModule', ['getCountries', 'getContinentBySlug'])
  },
  components: {
    CountryMenu,
    Navigation,
    Mailing
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.regions-page
  +page
  &__align-center
    justify-content: baseline
  &__content
    font-family: Roboto, sans-serif
    width: 100%
    padding: 20px 0
    @media all and (min-width: $page-content-width)
      padding: 0 0 0 100px
      width: 695px
    &-title
      font-family: Georgia
      font-style: italic
      font-size: 30px
      font-weight: 300
      color: #003b60
      padding-bottom: $padding-after-title
      @media all and (min-width: $page-content-width)
        font-size: 40px
  &__list
    padding-top: 10px
    column-count: 2
    &-name a
      line-height: 30px
      white-space: nowrap
      color: #003b60
      text-decoration: underline
      font-family: Roboto, sans-serif
      font-size: 14px
      font-weight: 600
</style>
