<template>
  <main class="news-page">
    <div class="news-page__container">
      <div class="country-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div>
        <h1 class="news-page__content-title">Спецпредложения</h1>
        <navigation :links="[{to: '/', title: 'Главная'}, {to: {name: 'SpecialOffersPage'}, title: 'Спецпредложения'}]"></navigation>
        <region-news v-for="offer in specialOffers" :key="offer.id" section="specpredlozheniya" :news-item="offer"></region-news>
      </div>
    </div>
  </main>
</template>

<script>
import Mailing from '../components/Mailing'
import CountryMenu from '../components/CountryMenu'
import RegionNews from '../components/RegionNews'
import Navigation from '../components/Navigation'
import { mapGetters } from 'vuex'

export default {
  name: 'SpecialOffersPage',
  computed: {
    ...mapGetters('postsModule', {specialOffers: 'getSpecialOffers'})
  },
  components: {
    CountryMenu,
    RegionNews,
    Navigation,
    Mailing
  },
  mounted () {
    document.title = `Anteco | Спецпредложения`
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.news-page
  +page
  &__content-title
    font-family: Georgia
    font-style: italic
    font-size: 40px
    font-weight: 300
    color: #464646
    padding-bottom: $padding-after-title
</style>
