<template>
  <main class="tour-page">
    <div class="tour-page__container">
      <div class="tour-page__country-menu">
        <country-menu></country-menu>
        <mailing></mailing>
      </div>
      <div v-if="tour && tour.title" class="tour-page__content">
        <h3 class="tour-page__content-title">{{title}}
          <div class="tour-page__content-subtitle">{{subtitle}}</div>
        </h3>
        <navigation :links="[
          {to: '/', title: 'Главная'},
          {to: {name: 'MainCountries'}, title: 'Страны'},
          {to: `/${continent.post_type}/${continent.post_name}`, title: continent.post_title},
          {to: `/${tCountry.post_type}/${tCountry.post_name}`, title: tCountry.post_title},
          {to: `/tour/${tourSlug}`, title}
        ]"></navigation>
        <article class="tour-page__article" v-html="showMore ? content : content.split('<!--more-->')[0]">
        </article>
        <a v-if="!showMore && displayShowMore" href="#" @click.prevent="showMore = true" class="tour-page__content-show-all">
          <span>Развернуть описание</span>
        </a>
        <div class="tour-page__photo-gallery">
          <h4 class="tour-page__photo-gallery-title">Фотогалерея</h4>
          <span class="tour-page__photo-gallery-subtitle">Фото, сделаны нами и нашими туристами</span>
          <div class="tour-page__photo-gallery-container">
            <swiper :options="swiperOption" class="tour-page__slider">
              <swiper-slide v-for="photo in photos" :key="photo" class="tour-page__slider-slide" :style="`background-image: url(${photo})`">
              </swiper-slide>
            </swiper>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </div>
        </div>
        <h3 class="tour-page__contacts-title">Поехать в этот тур?</h3>
        <div class="tour-page__tour-contacts">
          <tour-contacts></tour-contacts>
        </div>
      </div>
    </div>
  </main>
</template>

<script>

import Mailing from '../components/Mailing'
import CountryMenu from '../components/CountryMenu'
import Navigation from '../components/Navigation'
import TourContacts from '../components/TourContacts'
import {mapGetters} from 'vuex'

const swiperOption = {
  slidesPerView: 2,
  loop: true,
  spaceBetween: 20,
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
  }
}

export default {
  name: 'TourPage',
  data () {
    return {
      swiperOption,
      showMore: false
    }
  },
  computed: {
    ...mapGetters('toursModule', ['getToursByCountryId', 'getTourBySlug']),
    ...mapGetters('countriesModule', ['getCountryBySlug']),
    ...mapGetters('photoGalleryModule', ['getPhotoGalleriesById']),
    photos () {
      return (this.getPhotoGalleriesById(this.photoId) || {images: []}).images
    },
    displayShowMore () {
      return this.content ? this.content.indexOf('<!--more-->') > -1 : false
    },
    tourSlug () {
      return this.$route.params.tour_id
    },
    tour () {
      return this.getTourBySlug(this.tourSlug) || {}
    },
    tCountry () {
      return this.tour ? this.tour.acf.country : {}
    },
    country () {
      return this.getCountryBySlug(this.tCountry.post_name) || {}
    },
    continent () {
      return this.country ? this.country.acf.continent : ''
    },
    countryName () {
      return this.country ? this.country.title.rendered : ''
    },
    link () {
      return this.tour ? this.tour.link.replace('', '') : ''
    },
    title () {
      return this.tour && this.tour.title ? this.tour.title.rendered : ''
    },
    subtitle () {
      return this.tour ? this.tour.acf.subtitle : ''
    },
    content () {
      return this.tour ? this.tour.content.rendered : ''
    },
    excerpt () {
      return this.tour ? this.tour.excerpt.rendered : ''
    },
    photoId () {
      return this.tour ? this.tour.acf.photo.ID : 0
    }
  },
  watch: {
    title (value) {
      document.title = `Anteco | ${value}`
    }
  },
  mounted () {
    document.title = `Anteco | ${this.title}`
  },
  components: {
    CountryMenu,
    Mailing,
    Navigation,
    TourContacts
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.tour-page
  +page
  padding-bottom: 60px
  &__slider
    &-slide
      background-size: cover
      background-position: center
    &-image
      +sidebar-width()
      height: 150px
  &__country-menu
    +sidebar-width()
  &__content
    width: 100%
    @media all and (min-width: $page-content-width)
      width: 640px
    &-title, &-subtitle
      color: #464646
      font-family: Georgia
      font-style: italic
      font-weight: 300
    &-title
      font-size: 25px
      padding-bottom: $padding-after-title
      @media all and (min-width: $page-content-width)
        font-size: 40px
    &-subtitle
      font-size: 25px
      @media all and (min-width: $page-content-width)
        font-size: 30px
    &-show-all
      text-decoration: none
      span
        font-family: Roboto, sans-serif
        font-size: 14px
        font-weight: 500
        color: #e1005f
        border-bottom: 1px dashed #e1005f
  &__content /deep/ &__article
    img
      width: 100%
      height: auto
      @media all and (min-width: $page-content-width)
        width: 100%
    h3, p, b, i
      font-family: Roboto, sans-serif
      font-size: 14px
      display: block
    h3
      color: #027ead
      font-weight: 500
    p
      color: #555555
      font-weight: 300
    b
      color: #555555
      font-weight: 600
    i
      color: #555555
      font-style: Italic
      font-weight: 500
  &__contacts-title
    color: #555555
    font-family: Georgia
    font-style: italic
    font-weight: 300
    font-size: 30px
    padding-bottom: 20px
    padding-top: 55px
  &__photo-gallery
    padding-top: 50px
    &-container
      position: relative
      display: flex
      height: 140px
      padding: 0 55px
      .swiper-container
        width: 100%
        height: 100%
    &-title
      font-family: Georgia
      font-style: italic
      font-size: 30px
      color: #464646
      font-weight: 300
      padding-bottom: 10px
    &-subtitle
      font-weight: 300
      font-size: 14px
      color: #464646
      font-family: Roboto, sans-serif
      display: block
      padding-bottom: 25px
</style>
