<template>
  <div class="banner">
    <swiper v-if="headerLinks && headerLinks.length" :options="swiperOption" class="slide">
      <swiper-slide v-for="(image, index) in headerLinks"
                    :key="image+index"
                    class="slide"
                    :style="`background-image: url(${image});`">
      </swiper-slide>
    </swiper>
    <div v-else class="slide slide-image"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Banner',
  data () {
    return {
      swiperOption: {
        loop: true,
        autoplay: {
          delay: 5000
        }
      }
    }
  },
  computed: {
    ...mapState(['headerLinks'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
  .banner
    min-height: 520px !important
    .slide
      height: 520px !important
      width: 100%
      flex-shrink: 0
      background-size: cover
      background-position: center
    .slide-image
      background-image: url('../assets/images/banner.png')
    &__container
      width: 100%
      overflow: hidden
    &__wrapper
      display: flex
      flex-wrap: nowrap
      transition: all 1s
      transition-delay: 1s
      &--disabled-transition
        transition: none
</style>
