<template>
  <div class="bottom-section">
    <div class="bottom-section__container">
      <div class="bottom-section__logotype">
         <img src="../assets/images/logo.png"/>
      </div>
      <div class="bottom-section__menu">
        <router-link
          v-for="item in menu"
          :key="item.id"
          :to="item.url"
          class="bottom-section__link">
            {{item.title}}
        </router-link>
      </div>
      <div class="bottom-section__copyright">
        <span>2013 - {{new Date() | moment('YYYY')}}, «Anteco» - все права защищены</span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'bottom-section',
  computed: {
    ...mapState({unhandledMenu: 'menu'}),
    menu () {
      return this.unhandledMenu.filter((item) => item.menu_item_parent === '0')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.bottom-section
  background-color: #003b60
  display: flex
  &__container
    display: block
    margin: auto
    width: 943px
    padding-top: 25px
    padding-bottom: 45px
    @media all and (min-width: $page-content-width)
      display: flex
      justify-content: space-between
  &__menu
    font-family: 'Roboto', sans-serif
    font-weight: 300
    padding: 20px 0
    @media all and (min-width: $page-content-width)
      padding: 0 0 0 80px
  &__link
    display: block
    padding-bottom: 5px
    font-size: 14px
    color: white
    text-decoration: underline
    text-align: center
    line-height: 16px
    @media all and (min-width: $page-content-width)
      text-align: left
  &__copyright
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 14px
    color: white
  &__logotype, &__copyright
    text-align: center
</style>
