<template>
  <router-link
    v-if="continent"
    :to="continent.link.replace(baseUrl, '')"
    :style="{'background-image': img}"
    class="continent-card"
    >
    <div class="continent-card-description">
      <div class="continent-card-title">{{title}}</div>
      <!-- <div class="continent-card-text" v-html="text"></div> -->
    </div>
  </router-link>
</template>
<script>
export default {
  name: 'continent-card',
  props: ['continent'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    id () {
      return this.continent.id
    },
    date () {
      return this.continent.date
    },
    title () {
      return this.continent.title.rendered
    },
    text () {
      return this.continent.excerpt.rendered
    },
    link () {
      return this.continent.link
    },
    img () {
      return `url(${this.continent.acf.image})`
    }
  }
}
</script>
<style lang="sass" scoped>
@import '../variables'
.continent-card
  display: flex
  margin: 5px auto
  width: 100%
  height: 200px
  background-color: #a17d7d
  background-size: cover
  background-position: center
  flex-direction: column-reverse
  position: relative
  overflow: hidden
  @media all and (min-width: $page-content-width)
    display: block
    margin: 10px 0
    width: 300px
  &-description
    width: inherit
    background-color: rgba(0, 0, 0, 0.8)
    display: flex
    bottom: 0
    height: 200px
    transform: translateY(150px)
    transition: transform 0.3s
    position: absolute
    align-items: top
  &-text
    opacity: 0
    transition: opacity 0.6s
  &:hover &-description
    transform: translateY(0px)
  &:hover &-text
    opacity: 1
  &-title, &-text
    font-family: Roboto, sans-serif
    font-size: 14px
    color: white
    padding-left: 20px
  &-title
    font-weight: 400
    height: 50px
    padding-right: 60px
    display: flex
    align-items: center
</style>
