<template>
  <div class="country-menu">
    <h2 class="country-menu__title">Страны</h2>
    <div class="country-menu__container">
      <form class="country-menu__input-container">
        <input v-model="searchModel" type="text" class="country-menu__input"/>
        <button class="country-menu__input-button">
          <img src="../assets/images/loup.png"/>
        </button>
      </form>
      <div class="country-menu__list-container">
        <div v-if="!query">
          <ul class="country-menu__items">
            <li v-for="continent in continents" :key="continent.id" class="country-menu__item">
              <router-link class="country-menu__link" :to="continent.link.replace(baseUrl, '')">{{continent.title.rendered}}</router-link>
            </li>
          </ul>
        </div>
        <div v-else>
          <ul v-if="searchResults.length" class="country-menu__items">
            <li v-for="result in searchResults" :key="result.id" class="country-menu__item">
              <router-link class="country-menu__link" :to="result.link.replace(baseUrl, '')">{{result.title.rendered}}</router-link>
            </li>
          </ul>
          <div v-else class="country-menu__link">
              Нет результатов
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
export default {
  name: 'CountryMenu',
  methods: {
    ...mapActions(['requestForSearch'])
  },
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    ...mapState('countriesModule', ['continents']),
    ...mapState(['query', 'searchResults']),
    searchModel: {
      get () {
        return this.query
      },
      set (value) {
        this.requestForSearch(value)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.country-menu
  +sidebar-width()
  &__title
    color: #464646
    font-family: Georgia
    font-style: italic
    font-size: 20px
    padding-bottom: $padding-after-title * 2
    padding-top: 5px
    font-weight: 300
  &__items
    list-style: none
  &__input
    outline: none
    border: none
    width: 100%
    padding: 0 10px
    background: none
    &-button
      border: 0
      padding: 5px
      background-color: transparent
      outline: none
  &__list-container
    padding-top: 15px
  &__item
    border-bottom: 1px solid #d4d4d4
    height: 50px
    display: flex
    align-items: center
    &:last-child
      border-bottom: none
  &__item:hover > &__link
    color: #027ead
  &__link
    font-family: Roboto, sans-serif
    font-weight: 300
    font-size: 15px
    display: block
    color: black
    text-decoration: none
    padding: 10px 0
    width: 100%
  &__input-container
    display: flex
    +sidebar-width()
    padding-left: 10px
    height: 30px
    background-color: #ebebeb
    border-radius: 20px
</style>
