<template>
  <div class="events" :style="{'background-image': img}">
    <div class="events__description">
      <div class="events__description-container">
        <div class="events__description-title">
          {{date | moment("DD.MM.YY")}}
        </div>
        <div class="events__description-text">
          {{title}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Events',
  props: ['event'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    id () {
      return this.event.id
    },
    date () {
      return this.event.date
    },
    title () {
      return this.event.title.rendered
    },
    text () {
      return this.event.excerpt.rendered
    },
    link () {
      return this.event.link.replace(this.baseUrl, '')
    },
    img () {
      return `url(${this.event.acf.image})`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.events
  width: 100%
  height: 230px
  display: flex
  flex-direction: column-reverse
  font-family: Roboto, sans-serif
  font-size: 14px
  margin-bottom: $margin-after-items
  background-size: cover
  background-position: center
  @media all and (min-width: $page-content-width)
    width: 230px
    height: 230px
  &__description
    width: inherit
    height: 50px
    background-color: rgba(0, 0, 0, 0.8)
    color: white
    &-container
      padding: 10px
    &-title
      font-weight: 300
    &-text
      font-weight: 400
</style>
