<template>
  <div class="header-bar" :class="{'header-bar--active': isActivated}">
    <div class="header-bar__container">
      <router-link to="/" class="header-bar__logotype">
        <img src="../assets/images/logo.png"/>
      </router-link>
      <a @click="isActivated = !isActivated" class="header-bar__menu-toggle">
        <span class="header-bar__menu-toggle-el"></span>
        <span class="header-bar__menu-toggle-el"></span>
        <span class="header-bar__menu-toggle-el"></span>
      </a>
      <div class="header-bar__menu">
        <router-link
          v-for="item in menu"
          :key="item.id"
          :to="item.url"
          class="header-bar__link">
          {{item.title}}
          <ul class="header-bar__submenu">
            <li v-for="child in getLowLevelMenu(item)" class="header-bar__submenu-item" :key="child.id">
              <router-link
                :to="child.url"
                class="header-bar__sub-link">
                {{child.title}}
              </router-link>
            </li>
          </ul>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex'

export default {
  name: 'header-bar',
  data () {
    return {
      isActivated: false
    }
  },
  computed: {
    ...mapState({unhandledMenu: 'menu'}),
    menu () {
      return this.unhandledMenu.filter((item) => item.menu_item_parent === '0')
    },
    route () {
      return this.$route
    }
  },
  methods: {
    getLowLevelMenu ({ID}) {
      if (ID !== 0) {
        const a = this.unhandledMenu.filter(({menu_item_parent}) => menu_item_parent === `${ID}`) // eslint-disable-line camelcase
        return a
      }
    }
  },
  watch: {
    route (to, from) {
      this.isActivated = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables.sass'
$backgroundHeader: rgba(0, 0, 0, 0.75)
.header-bar
  background-color: $backgroundHeader
  height: 60px
  position: fixed
  top: 0
  left: 0
  width: 100vw
  display: flex
  justify-content: center
  &--active &__menu
    transform: translateX(0)
  &__logotype
    padding-top: 17px
    flex-grow: 0.5
    padding-left: 10px
    width: 50%
    height: 100%
    @media all and (min-width: $page-content-width)
      width: auto
    img
      margin: auto
  &__menu-toggle
    width: 50%
    height: 38px
    justify-content: space-between
    align-items: flex-end
    flex-shrink: 0
    text-align: right
    padding-right: 10px
    padding-top: 17px
    display: flex
    flex-direction: column
    &-el
      width: 30px
      height: 3px
      border-radius: 2px
      background: white
      display: block
    @media all and (min-width: $page-content-width)
      display: none
  &__container
    display: flex
    height: inherit
    width: $page-content-width
    flex-wrap: wrap
    @media all and (min-width: $page-content-width)
      flex-wrap: initial
  &__menu
    background-color: $backgroundHeader
    height: calc(100vh - 60px)
    width: 100%
    overflow: auto
    transform: translateX(100vw)
    transition: transform 0.3s
    @media all and (min-width: $page-content-width)
      overflow: visible
      padding-right: 50px
      display: flex
      flex-grow: 1
      flex-wrap: initial
      transform: none
      height: initial
      width: initial
      background-color: initial
  &__link
    text-decoration: none
    color: white
    display: block
    font-family: Arial
    font-size: 12px
    text-transform: uppercase
    padding: 23px 10px
    width: 100%
    text-align: right
    @media all and (min-width: $page-content-width)
      text-align: left
      width: initial
      margin: auto
      padding: 23px 0
    &:hover
      color: #f3e2a9
  &__link:hover > &__submenu
    display: block
  &__submenu
    @media all and (min-width: $page-content-width)
      display: none
      position: absolute
      background-color: white
      list-style: none
      top: 50px

  @media all and (max-width: $page-content-width)
    &__submenu-item
      a
        padding: 23px 0
      &:first-child
        a
          padding-top: 46px
      &:last-child
        a
          padding-bottom: 0
    &__submenu-item &__sub-link
      padding-right: 10px
      color: white
      display: block
      font-family: Arial
      font-size: 12px
      text-transform: uppercase
      width: 100%
      text-align: right
      text-decoration: underline
  &__sub-link
    text-transform: initial
    font-size: 14px
    @media all and (min-width: $page-content-width)
      color: black
      display: block
      line-height: 30px
      padding-right: 85px
      padding-left: 10px
      &:hover
        background-color: #ebebeb
</style>
