<template>
  <div class="hotel-item" :style="{'background-image': `url(${img})`}">
    <div class="hotel-item__description">
      <span class="hotel-item__description-name">{{title}}</span>
      <div v-if="rating" class="hotel-item__stars">
        <img src="../assets/images/star.png" v-for="rate in rating" :key="rate">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hotel',
  props: ['hotel'],
  computed: {
    id () {
      return this.hotel.id
    },
    date () {
      return this.hotel.date
    },
    rating () {
      return +this.hotel.acf.rating
    },
    title () {
      return this.hotel.title.rendered
    },
    link () {
      return this.hotel.link
    },
    img () {
      return this.hotel.acf.avatarable
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.hotel-item
  width: 310px
  height: 200px
  display: flex
  flex-direction: column-reverse
  font-family: Roboto, sans-serif
  font-size: 14px
  background-size: cover
  background-position: center
  margin-bottom: 10px
  &__description
    width: inherit
    height: 50px
    background-color: rgba(0, 0, 0, 0.8)
    padding-left: 10px
    padding-top: $padding-after-title / 2
    &-name
      font-family: Roboto, sans-serif
      font-weight: 500
      font-size: 20px
      color: white
</style>
