<template>
  <div @click="handleClick" class="mailing">
    <div class="mailing__container">
      <div class="mailing__content">
        <div class="mailing__image">
          <img src="../assets/images/mail.png"/>
        </div>
        <div class="mailing__text">
          <a class="mailing__link" href="#">Полезная рассылка</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Mailing',
  methods: {
    handleClick () {
      this.$store.dispatch('modalModule/toggle')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.mailing
  padding: 10px 0
  @media all and (min-width: $page-content-width)
    padding: 50px 0
  img
    width: 100%
    height: 100%
    object-fit: cover
  &__content
    display: flex
    +elastic-block(245px)
    box-shadow: 0px 6px 42px -12px rgba(135,131,135,0.7)
  &__link
    color: #003b60
    text-decoration: underline
  &__text
    margin: auto
    font-family: Roboto, sans-serif
    font-weight: bold
    font-size: 14px
</style>
