<template>
  <div @click="toggle" class="modal" :class="{'modal--active' : active}">
    <div class="modal__container">
      <form @click="prevent" @submit.prevent="handleSend" class="modal__form">
        <div class="modal__form-heading">
          <h3 class="modal__form-title">Рассылка</h3>
          <a @click="toggle" href="#" class="modal__form-icon"></a>
        </div>
        <span class="modal__form-description">Мы обещаем делиться с вами только самыми полезными новостями из удивительного мира туризма и путешествий!</span>
        <input v-model="email" class="modal__form-input" placeholder="Ваш e-mail"/>
        <button @click="handleSend" class="modal__form-button">Отправить</button>
      </form>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
export default {
  name: 'Modal',
  data () {
    return {email: ''}
  },
  computed: {
    ...mapState('modalModule', ['active'])
  },
  methods: {
    ...mapActions('modalModule', ['toggle', 'send']),
    handleSend () {
      this.send(this.email)
    },
    prevent (e) {
      e.preventDefault()
      e.stopPropagation()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.modal
  position: fixed
  transition: opacity 0.3s
  display: flex
  width: 0
  height: 0
  left: 0
  top: 0
  opacity: 0
  overflow: hidden
  background-color: rgba(0, 0, 0, 0.6)
  &--active
    width: 100%
    height: 100%
    opacity: 1
  &__container
    width: 500px
    height: 280px
    background-color: white
    margin: auto
  &__form
    padding: 15px 20px
    &-heading
      display: flex
      justify-content: space-between
    &-icon
      background-repeat: no-repeat
      background-image: url(../assets/images/close.png)
      display: block
      width: 20px
      height: 20px
    &-title
      color: #464646
      font-family: Georgia
      font-style: italic
      font-size: 30px
      font-weight: 300
    &-description
      color: #555555
      display: block
      font-weight: 300
      font-family: Roboto, sans-serif
      font-size: 14px
      margin: 15px 0
    &-input
      width: 100%
      color: #555555
      font-weight: 300
      font-family: Roboto, sans-serif
      font-size: 14px
      background-color: #ececec
      outline: none
      border: none
      padding: 10px
    &-button
      background-color: #003b60
      color: white
      outline: none
      border: none
      padding: 15px 30px
      display: block
      margin: 40px auto
</style>
