<template>
  <ul class="navigation">
    <router-link v-for="(link, index) in links"
      :to="link.to"
      :name="link.name"
      :key="link.title"
      class="navigation__link"
    >
      <span class="navigation__link-spaces" v-if="index">&nbsp;&nbsp;/&nbsp;</span>
      <span class="navigation__link-content">{{link.title}}</span>
    </router-link>
  </ul>
</template>

<script>
export default {
  name: 'Navigation',
  props: ['links']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.navigation
  display: flex
  list-style: none
  padding-bottom: 20px
  flex-wrap: wrap
  &__link
    font-family: Roboto, sans-serif
    font-weight: 300
    font-size: 13px
    &-content
      color: #027ead
      text-decoration: underline
    &:last-child &-content
      color: #464646
      text-decoration: none
</style>
