<template>
  <div class="news-section">
    <span class="news-section__date">{{date | moment("DD/MM/YY")}}</span>
    <router-link :to="link" class="news-section__link">{{title}}</router-link>
    <div class="news-section__description" v-html="text"></div>
  </div>
</template>

<script>
export default {
  name: 'News',
  props: ['news-item'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    date () {
      return this.newsItem.date
    },
    title () {
      return this.newsItem.title.rendered
    },
    text () {
      return this.newsItem.excerpt.rendered
    },
    link () {
      return this.newsItem.link.replace(this.baseUrl, '')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.news-section
  font-family: Roboto, sans-serif
  position: relative
  width: 100%
  padding: 10px
  margin-bottom: $padding-before-container / 2
  padding-bottom: $padding-before-container / 2
  @media all and (min-width: $page-content-width)
    width: 220px
    padding: 0
  &:after
    width: 100px
    height: 1px
    background-color: #cccccc
    content: ""
    display: block
    position: absolute
    bottom: 0
  &__date
    font-size: 14px
    font-weight: 300
    color: #808080
    display: block
  &__link
    color: #003b60
    font-weight: 600
    display: block
    padding-bottom: 20px
    font-size: 14px
    text-decoration: underline
    &:hover
      color: #3598bd
  &__description
    font-weight: 300
    color: #4d4d4d
    font-size: 14px
    padding-bottom: 15px
</style>
