<template>
  <div class="news-widget">
    <div class="news-widget__container">
      <span class="news-widget__date">{{date | moment("DD.MM.YY")}}</span>
      <router-link :to="link" class="news-widget__link">{{title}}</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewsWidget',
  props: ['newsItem'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    date () {
      return this.newsItem.date
    },
    title () {
      return this.newsItem.title.rendered
    },
    link () {
      return this.newsItem.link.replace(this.baseUrl, '')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.news-widget
  font-family: Roboto, sans-serif
  border-bottom: 1px solid #d4d4d4
  &__container
    padding: $padding-after-title 0
  &__date
    font-size: 15px
    font-weight: 300
    color: #808080
    display: block
  &__link
    color: black
    font-weight: 300
    display: block
    font-size: 15px
    text-decoration: none
    &:hover
      color: #027ead
</style>
