<template>
  <div class="photo-gallery">
    <h4 class="photo-gallery__title">Фотогалерея</h4>
    <span class="photo-gallery__subtitle">Фото, сделанныe нами <br> и нашими туристами</span>
    <div class="photo-gallery__container">
      <div class="photo-gallery__container-photo" v-for="photo in photos" :key="photo" :style="`background-image: url(${photo})`">
    </div>
    </div>
    <router-link :to="{name: 'Photos', params: {slug: this.slug}}" class="photo-gallery__to-gallery">
      <span>Перейти в фотогалерею</span>
    </router-link>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'PhotoGallery',
  props: ['slug'],
  computed: {
    ...mapState('photoGalleryModule', ['media']),
    photos () {
      return this.media.filter(({slug}) => slug === this.slug)
        .map(({images}) => images)
        .reduce((acc, item) => [...acc, ...item], [])
        .slice(-5)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.photo-gallery
  color: black
  padding-top: 40px
  &__title
    font-family: Georgia
    font-style: italic
    font-size: 30px
    color: #464646
    font-weight: 300
    padding-bottom: 10px
  &__subtitle
    font-weight: 300
    font-size: 14px
    color: #464646
    font-family: Roboto, sans-serif
    line-height: 1.5
  &__container
    padding-top: 20px
    padding-bottom: 10px
    &-photo
      +sidebar-width()
      height: 150px
      margin-bottom: 10px
      background-repeat: no-repeat
      background-size: cover
      background-position: center
  &__to-gallery
    text-decoration: none
    span
      font-family: Roboto, sans-serif
      font-size: 14px
      font-weight: 500
      color: #e1005f
      border-bottom: 1px solid #e1005f

</style>
