<template>
  <div class="region-news-section">
    <div class="region-news-section__content">
      <div class="region-news-section__content-image" :style="{'background-image': img}"></div>
      <div class="region-news-section__content-text">
        <span class="region-news-section__date">{{date | moment("DD.MM.YY")}}</span>
        <router-link :to="`/${section}/${id}`" class="region-news-section__link">{{title}}</router-link>
        <span class="region-news-section__description" v-html="text"></span>
        <router-link :to="`/${section}/${id}`" class="region-news-section__link--red">Подробнее</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegionNews',
  props: ['newsItem', 'section'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    id () {
      return this.newsItem.id
    },
    date () {
      return this.newsItem.date
    },
    title () {
      return this.newsItem.title.rendered
    },
    text () {
      return this.newsItem.excerpt.rendered
    },
    link () {
      return this.newsItem.link.replace(this.baseUrl, '')
    },
    img () {
      return `url(${this.newsItem.acf.image})`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.region-news-section
  font-family: Roboto, sans-serif
  border-bottom: 1px solid #d4d4d4
  +content-width()
  padding: 20px 0
  &__content
    display: flex
    flex-wrap: wrap
    &-image
      background-size: cover
      height: 145px
      width: 230px
      flex-shrink: 0
    @media all and (min-width: $page-content-width)
      flex-wrap: nowrap
      &-text
        padding-left: 20px
  &__date
    font-size: 14px
    font-weight: 300
    color: #808080
    display: block
  &__link
    color: #027ead
    font-weight: 600
    font-size: 20px
    display: block
    padding-bottom: 10px
    text-decoration: none
    &--red
      color: #e1005f
      display: block
      font-size: 14px
      font-weight: 600
      text-decoration: underline
      padding-top: $padding-before-container
    &:hover
      color: #3598bd
  &__description
    font-weight: 300
    color: #4d4d4d
    font-size: 14px
</style>
