<template>
  <div class="special-offer" :style="{'background-image': img}">
    <div class="special-offer__description">
      <div class="special-offer__description-container">
        <h4 class="special-offer__description-title">
          {{title}}
        </h4>
        <div class="special-offer__description-text" v-html="text">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SpecialOffer',
  props: ['offer'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    id () {
      return this.offer.id
    },
    date () {
      return this.offer.date
    },
    title () {
      return this.offer.title.rendered
    },
    text () {
      return this.offer.excerpt.rendered
    },
    link () {
      return this.offer.link.replace(this.baseUrl, '')
    },
    img () {
      return `url(${this.offer.acf.image})`
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.special-offer
  width: 100%
  height: 240px
  overflow: hidden
  cursor: pointer
  margin-bottom: $margin-after-items
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  @media all and (min-width: $page-content-width)
    width: 400px
    height: 230px
  &:hover &__description
    transform: translateY(0)
  &:hover &__description-title
    border-bottom: 1px solid white
  &__description
    width: inherit
    height: inherit
    background-color: rgba(0, 0, 0, 0.8)
    transition: all 0.4s
    transform: translateY(180px)
    color: white
  &__description-container
    padding: 15px 10px
    @media all and (min-width: $page-content-width)
      padding: 10px 40px
  &__description-title
    font-family: Roboto, sans-serif
    font-weight: 400
    border: none
    color: #f3e2a9
    font-size: 20px
    padding-bottom: $padding-after-title
  &__description-text
    font-family: Roboto, sans-serif
    color: white
    font-weight: 300
    font-size: 14px
    padding-top: $padding-before-container / 2
</style>
