<template>
  <router-link :to="link" :style="{'background-image': `url(${img})`}" class="tour">
    <div class="tour__description">
      <div class="tour__description-container">
        <a href="#" class="tour__description-title">{{title}}</a>
        <div class="tour__description-text" v-html="subtitle">
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'Tour',
  props: ['tour'],
  data () {
    return {
      baseUrl: process.env.baseUrl
    }
  },
  computed: {
    id () {
      return this.tour.id
    },
    date () {
      return this.tour.date
    },
    title () {
      return this.tour.title.rendered
    },
    subtitle () {
      return this.tour.acf.subtitle
    },
    text () {
      return this.tour.excerpt.rendered
    },
    link () {
      return this.tour.link.replace(this.baseUrl, '')
    },
    img () {
      return this.tour.acf.avatarable
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.tour
  +content-width()
  height: 220px
  display: flex
  background-size: cover
  background-position: center
  font-family: Roboto, sans-serif
  margin-bottom: 10px
  &__description
    width: 230px
    height: 220px
    padding: 30px 20px
    background-color: rgba(0, 0, 0, 0.8)
    &-container
    &-title
      font-weight: 600
      font-size: 20px
      color: #e4d5a2
      text-decoration: none
    &-text
      font-weight: 300
      font-size: 14px
      padding-top: 25px
      line-height: 1.8
      color: white
</style>
