<template>
  <div class="tour-contacts">
    <div class="tour-contacts__container">
      <div class="tour-contacts__block">
        <span class="tour-contacts__block-text">Свяжитесь с нами по любому из этих номеров, <br>
  мы с радостью ответим на все интересующие <br>
  Вас вопросы и организуем незабываемую поездку</span>
      </div>
      <div class="tour-contacts__number">
        <div class="tour-contacts__number-container">
          <a href="tel: +7(495) 621-88-19" class="tour-contacts__number-text">+7(495) 621-88-19</a>
          <a href="tel: +7(916) 700-98-92 " class="tour-contacts__number-text">+7(916) 700-98-92 </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TourContacts',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../variables'
.tour-contacts
  &__container
    display: flex
    box-shadow: 0px 6px 42px -12px rgba(135,131,135,0.7)
    width: 100%
    height: auto
    flex-wrap: wrap
    @media all and (min-width: $page-content-width)
      +content-width()
      height: 120px
  &__block
    background-color: #027ead
    display: flex
    width: 100%
    @media all and (min-width: $page-content-width)
      width: 380px
    &-text
      color: white
      font-family: Roboto, sans-serif
      font-size: 14px
      font-weight: 300
      padding: 30px 20px
      line-height: 1.5
  &__number
    background-color: white
    display: flex
    align-items: center
    width: 100%
    @media all and (min-width: $page-content-width)
      width: auto
    &-container
      padding-left: 35px
      margin: auto
    &-text
      display: block
      font-family: Roboto, sans-serif
      font-size: 20px
      font-weight: 600
      color: #e1005f
      padding-bottom: 10px
      line-height: 1.5
      @media all and (min-width: $page-content-width)
        padding: 0
</style>
