<template>
  <div id="app">
    <banner></banner>
    <router-view></router-view>
    <bottom-section></bottom-section>
    <header-bar></header-bar>
    <modal></modal>
  </div>
</template>

<script>
import HeaderBar from './components/HeaderBar'
import Banner from './components/Banner'
import BottomSection from './components/BottomSection'
import {mapState, mapActions} from 'vuex'
import Modal from './components/Modal'
export default {
  name: 'App',
  components: {
    HeaderBar,
    BottomSection,
    Modal,
    Banner
  },
  methods: {
    ...mapActions(['initialRequest'])
  },
  computed: {
    ...mapState({loading: 'loadingState'})
  },
  mounted () {
    this.initialRequest()
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.swiper-container,
.swiper-wrapper {
  z-index: initial !important;
}
</style>
