// Common variables
$padding-after-header-before-page-content: 25px
$page-content-width: 940px
$padding-after-title: 10px
$padding-before-container: 30px
$margin-after-items: 20px
$main-content-width: 630px
$sidebar-content-width: 240px

=container()
	&__container
		padding: 0 15px
		@media all and (min-width: $page-content-width)
			display: flex
			width: $page-content-width
			justify-content: space-between
			padding: 0
		margin: 0 auto
		padding-top: 20px
		flex-wrap: wrap
	@content
=page()
  padding-top: $padding-after-header-before-page-content
  +container
		@content
=elastic-block($size)
	width: 100%
	@media all and (min-width: $page-content-width)
		width: $size

=content-width()
	+elastic-block($main-content-width)

=sidebar-width()
	+elastic-block($sidebar-content-width)
